@(isLoggedIn: Boolean,searchIndices: List[String])
<script type="text/javascript">
var prodList = [];
var withProd = false;

function addProd(prodAsin){
	var prodData = null;
	for(var i = 0; i < prodList.length; i ++){
		if(prodAsin == prodList[i]["asin"]){
			prodData = prodList[i];
			prodData["newPrice"] = $('#'+prodAsin).find("[name='yourPrice']").first().val();
            prodData["price"] = prodData["priceHistory"][0]["price"];
            prodData["priceHistory"] =  null;
			break;
		}
	}
	if(loggedIn){
		if(prodData != null){
			addproduct(prodData);			
		}
	}else{
        var answer = confirm("Please log in or register");
        if (answer){
			$('#generalLoginContainer').focus().css('border','dotted 1px');
			$(window).scrollTop(0).scrollLeft(1000);
        }
		prodToBeAdded = prodData;						
		withProd = true;       
	}	
}

function addproduct(productObj){
	if(productObj != null){
		$.ajax({
			type: "POST",
			url: "/saveUserItem",
			data: productObj,
			cache: false,
			success: function(addProdResult){
				if(addProdResult.success){
					alert("Item added successfully");
					withProd = false;       
					undateItemTab();
				}
		      },
		      error:function(){
		          alert("error");
		      }		
			}
		);			
	}	
}

function undateItemTab(){
	$("#userItems").empty();
	$.ajax({
		type: "GET",
		url: "/items",
		data: {},
		cache: false,
		success: function(itemListResult){
			if(itemListResult.success){
//alert(JSON.stringify(itemListResult))
				var itemList = eval(itemListResult["itemList"]);
				if(typeof(itemList) != "undefined" && itemList.length > 0){
					$("#userItems").empty();
					for(var i = 0 ; i < itemList.length; i ++){
						var divStr = getItemDiv(itemList[i]);
						var newNode = $(divStr);
						$("#userItems").append(newNode);
						$("#userItems").append("<br clear='both'/>");
						if(i != (itemList.length-1))
							$("#userItems").append("<hr/>");
					}
					$("#productItems").empty();
					$("#productItems").hide();
					$("#userItems").show();
			    }
			}
	      },
	      error:function(){
	          alert("error");
	      }		
		}
	);		
	
}

function searchProd(searchIndexWidgetId, prodKeyWordWidgetId){
	var submtData = {"searchIndex":$(searchIndexWidgetId).val(), 
			         "prodSearchWord": $(prodKeyWordWidgetId).val()
			        };
	setBusyCursor("search_button_top");
	$.ajax({
		type: "POST",
		url: "/prodSearchResult",
		data: submtData,
		cache: false,
		success: function(regResult){
//alert(JSON.stringify(regResult));			
			$("#searchProds").hide();
			$("#userItems").hide();			
			$("#productItems").empty();
			$("#productItems").show();
			prodList = eval(regResult["prodList"]);
			for(var i = 0 ; i < prodList.length; i ++){
				var divStr = getProdItemSearchDiv(prodList[i]);
				var newNode = $(divStr);
				$("#productItems").append(newNode);
				$("#productItems").append("<br clear='both'/>");
			}
			resetCursor("search_button_top");
			//$("#searchProdTemplate").hide();
	      },
	      error:function(){
	          alert("error");
	          resetCursor("search_button_top");
	      }		
		}
	);	
}

function getProdItemSearchDiv(productNode){
	var asin = productNode["asin"];
	var divStr = "<div class='browser_wid align_left' id='" + asin +"'>"
	+ "<div class='float_left img_box'>"
	+" <a href=\""+ productNode["detailPageURL"]+ "\" target=\"amazon_pop\">"
	+ "<img src='" + productNode["img"] + "'/>"
	+" </a>"
	+"</div>"
	+"<div class='float_left content_box'>"
	+"	<span name='prodName'><b>" + productNode["name"] + "</b></span>"
	+"	<br clear='both'/>"
	+"	<span name='currentPrice'>Current price: " + productNode["priceHistory"][0]["priceDisplay"] + "</span>"
	+"	<button onclick='form[\"buy_" + 1 +"\"].submit();'>Buy Now</button><br clear='both'/>"
    +"  Your Price: <input type='text' name='yourPrice' size='8'/>"
    +"    <button onclick='addProd(\"" + asin +"\");'>add</button>"
	+"</div>"
    + "</div>";

  	return divStr;
}

function getItemDiv(itemNode){
	//alert(JSON.stringify(itemNode));
	var itemId = itemNode["itemId"];
	var divStr = "<div class='browser_wid align_left' id='" + itemId +"'>"
	+ "<div class='float_left img_box'>"
	+" <a href=\""+ itemNode.item["detailPageURL"]+ "\" target=\"amazon_pop\">"
	+ "<img src='" + itemNode.item["img"] + "'/>"
	+" </a>"
	+"</div>"
	+"<div class='float_left content_box_userItem'>"
	+"	<span name='prodName'><b>" + itemNode.item["name"] + "</b></span>"
	+"	<br clear='both'>"
	+"	<span name='orignalPrice'>Original price: " + itemNode["priceOriginalDisplay"] + "</span>"
	+"	<br clear='both'/>"
	+"	<span name='expectedPrice'>Expected price: " + itemNode["priceExpectedDisplay"] + "</span>"
	+"	<br clear='both'/>"
	+"	<span name='expectedPrice'>Created time: " + itemNode["orderDateDisplay"] + "</span>"
	+"	<br clear='both'/>"
    +"    <form name=\"buynow\" id=\"buy_" + itemId +"\" action=\"/items/" + itemId +"/buy\" target=\""+ itemId +"\" method=\"POST\" width=\"50%\">"
    +        "<button onclick='form[\"buy_" + itemId +"\"].submit();'>Buy Now</button>"
    +        "<button onclick='deleteItem(\"" + itemId +"\");return false;'>Delete</button>"
    +	  "</form>"
	+"</div>"
    + " </div>";
   
  	return divStr;
}

function deleteItem(itemId){
	$.ajax({
		type: "POST",
		url: "/items/"+itemId+"/delete",
		data: {},
		cache: false,
		success: function(delResult){
//alert(JSON.stringify(delResult));			
			if(delResult.success){
				$("#"+itemId).remove();
			}
	      },
	      error:function(){
	          alert("error");
	      }		
		}
	);	
	
}
</script>

	<div id="searchProds">
		<div></div><!-- for store logo -->
		<div>
	        <select name="searchIndex" class="dataSelect" id="prodSearchIndex">
	        @searchIndices.map { searchIndex =>
	            <option value=@searchIndex>@searchIndex</option>
	        }
	        </select>		
			<input type="text" name="prodSearchWord" class="search_wild" id="prodSearchKeyWord"/>
			<button onclick="searchProd('#prodSearchIndex','#prodSearchKeyWord');">search</button>
		</div>
	</div>
	<div id="productItems" class="float_left">
	</div>
	<div id="userItems" class="float_left">
	</div>	
	<div id="dealItems" class="float_left" style="padding-left:30px;padding-top:10px">
        Amazon Deals:<br/>
         <SCRIPT charset="utf-8" type="text/javascript" src="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fbuyforyou01-20%2F8009%2F1e59d05c-42ca-405f-94a1-204620f35179&Operation=GetScriptTemplate"> </SCRIPT> 
         <NOSCRIPT><A HREF="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fbuyforyou01-20%2F8009%2F1e59d05c-42ca-405f-94a1-204620f35179&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
        <br/><hr/>
        Ebay Deals:
	</div>	
	

