@(isLoggedIn: Boolean,searchIndices: List[String])
<script>
	$(function(){
		var loggedIn = @isLoggedIn;
		if(loggedIn){
			$('#searchInBannerSearch').show();
			$('#searchInBannerEmpty').hide();
		}else{
			$('#searchInBannerSearch').show();
			$('#searchInBannerEmpty').hide();
		}
	})
</script>
	<div class="float_left center_80_pcnt" id="searchInBannerSearch">
		<form id="actionSearch" action="prodSearchResult" method="POST">
	        <select name="searchIndex" class="dataSelect">
	        @searchIndices.map { searchIndex =>
	            <option value=@searchIndex>@searchIndex</option>
	        }
	        </select>		
			<input type="text" name="prodSearchWord" class="search"/>
			<button onclick="form['actionSearch'].submit();">search</button>
		</form>
	</div>

	<div id="searchInBannerEmpty" class="float_left"><span>&nbsp;</span></div>
