@(isLoggedIn: Boolean,searchIndices: List[String])
@if(isLoggedIn){
	<div class="float_left center_80_pcnt">
		<form id="actionSearch" action="prodSearchResult" method="POST">
	        <select name="searchIndex" class="dataSelect">
	        @searchIndices.map { searchIndex =>
	            <option value=@searchIndex>@searchIndex</option>
	        }
	        </select>		
			<input type="text" name="prodSearchWord" class="search"/>
			<button onclick="form['actionSearch'].submit();">search</button>
		</form></div>
}else{
	<div id="empty_div" class="float_left"><span>&nbsp;</span></div>
}