/*			general			*/
.float_left{
	float:left;
}

.float_right{
	float:right;
}
.right_margin_10{
	margin-right:10px;
}
.right_margin_20{
	margin-right:20px;
}

.center_text{
	text-align:center;
}

.err_msg{
  font-size:small;
  color:red;	
}

.center_80_pcnt{
	width:80%;
	text-align:center;
}
.align_left{
	text-align:left;
}
.padding_5{
	padding: 5px 5px 5px 5px;
}
.margin_5{
	margin: 5px 5px 5px 5px;
}

/* page template */
.browser_wid{
	width: 1280px;
	margin: 0 10 10 10;
}

.block_boder{
	border:2px solid blue;
}
#banner_div{
	height: 80px;
}
/*			content							*/
#content_div{
	height: 600px;
	overflow-y:auto;
	overflow-x:hidden;
}

#searchProds{
	text-align: center;
	margin-top: 150px;	
}

#searchProds input.search_wild{
	width: 300px;
	height: 20px;
	margin-right: 10px;
}

div .content_box{
	margin: 10px 10px 0px 10px;	
	width:800px;
	height:150px;
}

div .img_box{
	height:150px;
	width:125px;
	margin: 10px 20px 0px 10px;
}

.img_box img{
	max-width:100%; 
	max-height:100%;
	margin:auto;
	display:block;		
}

#footer_div{
	height: 100px;
}

/* nav bar */
#static_links{
	width:100%;
	background-color:lightblue;
	margin:0;
	padding-bottom:5;
}

#banner_div ul{
	list-style-type:none;
	margin:0;
	padding-bottom:5;
}

#banner_div li{
  display:inline; 
  margin-right:10;
}

#banner_div a{
	text-decoration:none;
}

/* search */
#banner_div input.search{
	width: 300px;
	height: 20px;
	margin-right: 10px;
}

#banner_div input.dataInput{
	width: 50px;
	height: 20px;
	margin-right: 10px;
}

#banner_div select.dataSelect{
	width: 100px;
	height: 20px;
	margin-right: 10px;
}

/********** signup ***********/
#signUp_div, #resetPassword_div{
	font-size:small	
}
#signUp_div .signup_label{
	display: inline-block;
	width: 180px;
	text-align:center;
	margin:5px 0px 5px 0px;
}

#signUp_div .signup_input{
	width: 200px;
	font-size:small
}

#signUp_div .signup_terms{
	background-color:white;
	border:1px solid gray;
	width: 460px;
	height: 300px;	
	overflow-y: auto;
	margin:0px 10px 10px 10px;
	padding-left: 5px;
	padding-right:5px;
}