<script type="text/javascript">
function toggleItmeProductPane(paneName){
	if(paneName=="i"){
		$("#userItems").show();	
		$("#dealItems").hide();
		$("#productItems").hide();			
	}else if(paneName=="p"){
		$("#userItems").hide();	
		$("#dealItems").hide();	
		$("#productItems").show();	
	}else if(paneName=="d"){
		$("#userItems").hide();	
		$("#productItems").hide();	
		$("#searchProds").hide();
		$("#dealItems").show();
	}
}
</script>
<ul  id="logOutUl" class="float_right"><li id="logOutLi" class="banner_div"><a href="/signOut">log out</a></li></ul>
<ul>
    <li><a href="#" onclick=toggleItmeProductPane('p');>Search</a></li>
    <li><a href="#" onclick=toggleItmeProductPane('d');>Deals</a></li>
    <li><a href="#" onclick=toggleItmeProductPane('i');>My Items</a></li>
</ul>
