@(isLoggedIn: Boolean, searchIndices: List[String])
<script>
$(function(){
	$('#input_password').bind('keypress', function(e) {
		if(e.keyCode==13){
			generalLogin();
		}
	});	
	$('#prodSearchKeyWordTop').bind('keypress', function(e) {
		if(e.keyCode==13){
			searchProd('#prodSearchIndexTop','#prodSearchKeyWordTop');
		}
	});		
	if(loggedIn){
		showLogedInWedgets();
	}else{
		showUnlogedInWedgets();
	}
});
function showRegisterBox(){
	var dia = $("#signup_div").dialog({width: 520, 
									   position:[350, 150],
									   modal: true});
	$("#signup_div").show();
}
function hideRegisterBox(){
	$("#signup_div").dialog().hide();
}

function showResetPasswordBox(){
    $("#resetPassword_div").dialog({width: 430, 
    	                            position:[350, 150],
    	                            modal: true,
    	                            height: 65});
	$("#resetPassword_div").show();    
}
function hideResetPasswordBox(){
    $("#resetPassword_div").dialog().hide();
}

function showLogedInWedgets(){
	$('#searchInBannerSearch').show();
    var filter = $("#prodSearchKeyWordTop").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "http://completion.amazon.com/search/complete",
                type: "GET",
                cache: false,
                dataType: "jsonp",
                success: function (data) {
                    response(data[1]);
                },
                data: {
                    q: request.term,
                    "search-alias": cearchCat,
                    mkt: "1",
                    callback: '?'
                }
            });
        }
    });
    $('#prodSearchIndexTop').change(function() {
    	cearchCat = $(this).val();	  
    });
    
	$('#searchInBannerEmpty').hide();
	$('#logInUl').hide();
	$('#logOutUl').show();
	$('#searchProds').hide();
	$('#dealItems').hide();
	$('#productItems').show();
	undateItemTab();
}
function showUnlogedInWedgets(){
	$('#searchInBannerSearch').hide();
	$('#searchInBannerEmpty').show();
	$('#logInUl').show();
	$('#logOutUl').hide();
	$('#searchProds').show();
	$('#dealItems').hide();
	$('#productItems').hide();
}
function generalLogin(){
	var loginData = {"email":$('#input_login').val(),"password":$('#input_password').val()};
	$.ajax({
		type: "POST",
		url: "/signIn",
		data: loginData,
		cache: false,
		success: function(loginResult){
			if(loginResult.success){
				if(prodToBeAdded != null){
					addproduct(prodToBeAdded);
					prodToBeAdded == null;
				}
                showLogedInWedgets();
                loggedIn = true;
                firstName = loginResult.firstName;
                hideRegisterBox();
			}
	      },
	      error:function(){
	          alert("error");
	      }		
		}
	);		
}
</script>
<div class="browser_wid">
	<div class="float_left center_80_pcnt" id="searchInBannerSearch">
        <select name="searchIndex" class="dataSelect" id="prodSearchIndexTop">
        @searchIndices.map { searchIndex =>
            <option value=@searchIndex>@searchIndex</option>
        }
        </select>		
		<input type="text" name="prodSearchWord" class="search" id="prodSearchKeyWordTop"/>
		<button id="search_button_top" onclick="searchProd('#prodSearchIndexTop','#prodSearchKeyWordTop');">search</button>
	</div>

	<div id="searchInBannerEmpty" class="float_left"><span>&nbsp;</span></div>

	<div class="float_right right_margin_20" id="generalLoginContainer">
		<ul id="logInUl">
			<li><input type="text" value='user name' name="email" id="input_login" onclick="if (this.value=='user name') this.value = ''" /></li>
			<li><input type="password" name="password" id="input_password" value="****" onfocus="if (this.value=='****') this.value = ''"/></li>
			<li><button onclick="generalLogin();">Log in</button></li>
			<li><button onclick='showRegisterBox(); return false;'>Register</button></li>
            <li><button onclick='showResetPasswordBox(); return false;'>forget password?</button></li>
        </ul>
	</div>
</div>