@(userItemWithProductItems: List[UserItemWithProductItem])
@import helper._
<a href="admin">Admin</a><br>
<a href="adminUsers">Users</a><br><br>


@main("Todo list") {
<h1>Product list:</h1>
<ul>
    @userItemWithProductItems.map { userItemWithProductItem =>
    <li>
        <b><u>@userItemWithProductItem.item.name: </u></b><br>
        Original price: @userItemWithProductItem.priceOriginal<br>
        Expected price: $@userItemWithProductItem.priceExpected<br>
        <img src=@userItemWithProductItem.item.img alt="Smiley face"><br>
        @form(routes.Application.buyItem(userItemWithProductItem.itemId)) {
        <input type="submit" value="Buy Now">
        }
        @form(routes.Application.deleteItem(userItemWithProductItem.itemId)) {
        <input type="submit" value="Delete">
        }
    </li><
    }
</ul>
}

