@(userItemWithProductItems: List[UserWithProductItems.UserItemWithProductItem])
@import helper._
<a href="signOut">Sign Out</a><br>
<a href="prodLookup">prodLookup</a>

@main("Todo list") {
<h1>Product Orders:</h1>
<ul>
    @userItemWithProductItems.map { userItemWithProductItem =>
    <li>
        <b><u>@userItemWithProductItem.item.name </u></b><br>
        Original price: $@(userItemWithProductItem.priceOriginal.toFloat/100)<br>
        Expected price: $@userItemWithProductItem.priceExpected<br>
        Created time: @userItemWithProductItem.orderDate<br>
        <img src=@userItemWithProductItem.item.img alt="alt"><br>
        @form(routes.Application.buyItem(userItemWithProductItem.itemId)) {
        <input type="submit" value="Buy Now">
        }
        @form(routes.Application.deleteItem(userItemWithProductItem.itemId)) {
        <input type="submit" value="Delete">
        }
    </li>
    }
</ul>
}

