@(signUpForm: Form[(String, String, String, String)])
@import helper._
@if(null!= signUpForm && signUpForm.hasGlobalErrors) {
<div class="alert alert-error">
    <a class="close" data-dismiss="alert">x</a>
    @for(error <- signUpForm.globalErrors) {
    @error.key.toString() :
    @error.message.toString()
    }
</div>
}

@main("Todo list") {
<h1>Sign up</h1>
@form(routes.Application.signUp) {
First name: <input type="text" name="firstName"><br>
Last name: <input type="text" name="lastName"><br>
email: <input type="text" name="email"><br>
password: <input type="text" name="password"><br>
<input type="submit" value="sign up">
}
}


@main("Todo list") {
<h1>Sign in</h1>
@form(routes.Application.signIn) {
email: <input type="text" name="email"><br>
password: <input type="text" name="password"><br>
<input type="submit" value="sign in">
}
}