@(title: String, searchIndices: List[String], prodSearchForm: Form[String])
@import helper._

<a href="signOut">Sign Out</a><br>
<a href="items">Items</a>
@main(title) {
    <h1>Product Search</h1>
    @form(routes.Application.prodSearchResult) {
        <h2>Choose a category:</h2>
        <select name="searchIndex">
        @searchIndices.map { searchIndex =>
            <option value=@searchIndex>@searchIndex</option>
        }
        </select>
        <h2>Type what you want (required): </h2>
        @inputText(prodSearchForm("prodSearchWord"))
        <input type="submit" value="Submit">
    }
}


