@(title: String, items: List[ProductItem])
@import helper._
@main("Todo list") {
<h1>Product list:</h1>
<ul>
    @items.map { item =>
    <li>
        <b><u><a href=@item.detailPageURL  target="_blank">@item.name</a></u></b><br>
        Current price: $@(item.priceHistory.get(0).price.toFloat/100)<p></p>
        <img src=@item.img alt="altImg" >
        @form(routes.Application.selectItem(item.name, item.asin, item.detailPageURL, item.priceHistory.get(0).price.toInt, item.img)) {
        <input type="submit" value="Set expected price for this item">
        }
    </li>
    }
</ul>
}
