@(searchIndices: List[String], items: List[ProductItem])
@import helper._

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
	</head>
<body>
<div id="banner_div" class="browser_wid block_boder">
	<div id="static_links">
		@const.constlinks()
	</div>
	<div>
		@user.generalLogin(true, searchIndices)
	</div>
</div>	
<div id="content_div" class="browser_wid block_boder">
    @items.map { item =>
    	<div class="browser_wid align_left">
    		<div class="float_left img_box"><img src=@item.img ></div>
    		<div class="float_left content_box">
	    		<span>Name: @item.name</span>
	    		<br clear="both"></br>
	    		<span>Description: @item.name</span>
	    		<br clear="both"></br>
	    		<span>Current price: @(item.priceHistory.get(0).price.toFloat/100)</span>
	    		<br clear="both"></br>
	    		<button onclick="alert('place holder')">add</button>
	    		<input type="hidden" name="asin" value="@item.asin"></input>
		        <input type="hidden" name="name" value="@item.name"></input>
		        <input type="hidden" name="price" value="@(item.priceHistory.get(0).price.toFloat/100)"></input>
    		</div>
    	</div><br clear="both"></br>
    }
</div>
<div id="footer_div" class="browser_wid block_boder">
<span>test</span></div>
</body>
</html>