@(name: String, asin: String, detailPageURL: String, price: Int, img: String, itemOrderForm: Form[(String, String, String, String, String, String)])
@import helper._
@main("Todo list") {
<h1>Item Details:</h1>
    <b><u>@name: </u></b><p></p>
    Current price: $@(price.toFloat/100)<p></p>
    @form(routes.Application.saveUserItem) {
        @inputText(itemOrderForm("newPrice"))
        <input type="hidden" name="name" value="@name">
        <input type="hidden" name="asin" value="@asin">
        <input type="hidden" name="detailPageURL" value="@detailPageURL">
        <input type="hidden" name="price" value=@price>
        <input type="hidden" name="img" value=@img>
        <input type="submit" value="Create">
    }
    <img src=@img alt="altImg"><br>
}
