@(isLoggedIn: Boolean, searchIndices: List[String], firstName: String)
<html>
<head>
<script type="text/javascript">
	//global variables
	var loggedIn = @isLoggedIn;
	var cearchCat = "aps";
	var prodToBeAdded = null;
	var firstName = "@firstName";
</script>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">	
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		
</head>	
<body>
<div id="banner_div" class="browser_wid block_boder">
	<div id="static_links">
		@const.constlinks()
	</div>
	<div>
		@user.generalLogin(isLoggedIn, searchIndices)
	</div>
</div>	

<div id="content_div" class="browser_wid block_boder">
@search.prodSearch(isLoggedIn, searchIndices)
</div>

@const.footer()

@user.registerForm()
</body>
</html>