@(isLoggedIn: Boolean, searchIndices: List[String])
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
		<script type="text/javascript" src="@routes.Assets.at("/javascripts/jquery-1.9.0.min.js")"></script>
	</head>
<body>
<div id="banner_div" class="browser_wid block_boder">
	<div id="static_links">
		@const.constlinks()
	</div>
	<div>
		@user.generalLogin(isLoggedIn, searchIndices)
	</div>
</div>	
<div id="content_div" class="browser_wid block_boder">
<span>test</span>
</div>
<div id="footer_div" class="browser_wid block_boder">
<span>test</span>
</div>
@user.registerForm();

</body>
</html>